html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.5;
}

/* Header styles */

header {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6f61;
}

#contact-info {
    text-align: center;
    margin-top: 20px;
    /* Add margin to provide space between the navigation and contact info */
}

/* Hero section styles */

#home {
    background: url('images/pexels-photo-851219.webp') no-repeat center center fixed;
    background-size: cover;
    color: goldenrod;
    text-align: center;
    padding: 100px 0;
}

#home h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
    /* Set text color to white */
}

#home p {
    font-size: 24px;
    margin-bottom: 40px;
    color: #fff;
    /* Set text color to white */
}

#home .btn {
    background-color: lightpink;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#home .btn:hover {
    background-color: #e35448;
}

/* Business Hours section styles */

#business-hours {
    background-color: #f8f8f8;
    padding: 40px 0;
    text-align: center;
}

#business-hours h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#business-hours ul {
    list-style: none;
    padding: 0;
}

#business-hours li {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

#business-hours strong {
    color: #007BFF;
    font-weight: bold;
}

/* Services section styles */

#services {
    /*background-image: url(images/background.jpg);*/
    background-position: center;
    background-size: cover;
    padding: 40px 0;
    text-align: center;
    color: #333;
}

.service-subsection {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .service-subsection {
        flex-direction: column;
        align-items: center;
    }
}

.service-subsection a {
    text-decoration: none;
}

.service-card {
    margin: 20px;
    max-width: 360px;
    min-width: 360px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.5s ease;
    color: #333;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.service-card h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #555;
}

.price-range {
    font-weight: bold;
    color: #ff6f61;
    margin-top: 5px;
}

footer {
    background-color: lightpink;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

#call {
    width: 50px;
    height: 45px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #888;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#scrollToTopBtn {
    width: 50px;
    height: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #888;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#scrollToTopBtn:hover,
#call:hover {
    background-color: #333;
}